<div class="container">
  <h2>Sample ToDo app</h2>

  <div class="panel panel-default">

    <div class="panel-heading">List of items</div>

    <div class="panel-body">
      <div class="input-group">
        <input type="text" id="item-name" class="form-control" placeholder="Type item name here">
        <span class="input-group-btn">
          <input type="submit" id="add-item" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>

    <table id="list" class="table table-hover">
      <tbody>
      </tbody>
    </table>

  </div>
</div>
